:root {
    --charcoal: #1a1a1a;
    --orange: #ff6600;
    --white: #ffffff;
}

body {
    background-color: var(--charcoal);
    color: var(--white);
}

.bg-charcoal {
    background-color: var(--charcoal) !important;
}

.text-orange {
    color: var(--orange) !important;
}

.navbar-brand {
    font-size: 1.8rem;
}

.nav-link {
    color: var(--white) !important;
}

.nav-link:hover {
    color: var(--orange) !important;
}

.btn-orange {
    background-color: var(--orange);
    border-color: var(--orange);
}

.btn-orange:hover {
    background-color: #e65c00;
}

.card {
    background-color: #222;
    border: 1px solid #444;
}

.card-title {
    color: var(--orange);
}

.carousel-item img {
    height: 350px;
    width: 80%;
    object-fit: cover;
    border: 8px solid white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(230, 95, 6, 0.5);
    margin: 0 auto;
    
}

.stats-card {
    background: #222;
    border-left: 4px solid var(--orange);
    padding: 1.5rem;
    border-radius: 8px;}

.timeline-badge {
    width: 50px;
    height: 50px;
    background-color: var(--orange);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: absolute;
    left: -25px;
    top: 0;
}

.timeline-panel {
    position: relative;
    padding-left: 60px;
}

footer {
    border-top: 3px solid var(--orange);
}
.footer-name {
    color: var(--orange);
}

.login-background {
    background-image: url('/band//css/images/img-background.png');
    background-size: cover;
    background-position: center;
}
